@font-face {
  font-family: LOC Chess Pieceset;
  src: url(../chessboard-js-master/css/LOCPieces.woff);
}
@font-face {
  font-family: LOC Chess Pieceset;
  src: url(../chessboard-js-master/css/LOCPieces.ttf);
}

body {
	background-image: url(../images/chess-bg.gif);
	font-family: 'Open Sans', sans-serif;
}

button {
	border-radius: 5px;
	color: #428bca;
	background: white;
	border: 2px solid #428bca;
}

button:hover {
	background: #c6cbd1;
}

button:disabled {
	color: #82b1d9;
	border-color: #82b1d9;
}

button:disabled:hover {
	background: white;
}

hr {
	width: 100%;
	border-top: 1px solid #e7e7e7;
}

#headerText, .boxLabel {
	font-family: 'Roboto', sans-serif;
}

#status {
	padding-top: 13px;
	padding-bottom: 13px;
}

#promotionsChoice {
	position: absolute;
	bottom: 6px;
	left: 10px;
}

#proLabel {
	color: #428bca;
	position: absolute;
	bottom: 22px;
	left: 0px;
}

.proPawn {
	font-family: "LOC Chess Pieceset",Fallback,sans-serif;
	vertical-align: 15%;
	font-size: 15px;
}

.proPiece {
	font-family: "LOC Chess Pieceset",Fallback,sans-serif;
	padding: 3px 3px 5px 3px;
	border: 1px solid #428bca;
	border-radius: 3px;
	color: #428bca;
}

.proPiece:not(.selected):hover{
	background: #c6cbd1;
}

.selected {
	color: white;
	background: #428bca;
}

.resignBtn {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#resign {
	width: 65px;
}

.drawBtn {
	position: absolute;
	top: 10px;
	right: 10px;
}

#draw {
	width: 65px;
}

#flipButton {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.chessPiece {
	font-size: 20px;
	font-weight: bold;
	vertical-align: 10%;
	font-family: "LOC Chess Pieceset",Fallback,sans-serif;
}

.chessBox {
	padding-left: 0px;
	padding-right: 0px;
}

.mainBox {
	width: 100%; 
	max-width: calc(100vh - 300px);
}

#logoBox img {
	height: 40px;
	width: 150px;
}

#headerText {
	color: white;
}

.nameBox {
	padding-top: 9px;
	padding-bottom: 11px;
}

.white {
	color: #285e8e;
}

.white:after {
	content: '\2654';
}

.black {
	color: #bd4932;
}

.black:after {
	content: '\265A';
}

.headerTitle {
	color: white;
}

.outlineBar {
	color: white;
	background: #9ca4af;
	height: 50px;
}

.bottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.whiteMessage {
	background-color: rgb(40, 94, 142, 0.15);
	padding-left: 3px;
	padding-right: 3px;
}

.blackMessage {
	background-color: rgb(189, 73, 50, 0.15);
	padding-left: 3px;
	padding-right: 3px;
}

.infoBox {
	background-color: white;
	border: 1px solid #428bca;
	border-radius: 3px;
	flex: 1;
	height: 100%;
	position: relative;
}

.textDisplay {
	overflow-y: scroll;
	overflow-x: wrap; 
	height: 100%;
	width: 100%;
	border: 1px solid #428bca;
	border-radius: 3px;
	background: white;
	padding-left: 3px;
	padding-right: 3px;
}

.pgnDiv {
	position: absolute;
	top: 60px;
	right: 11px;
	height: calc(100% - 144px);
	width: 135px;
}

#connections {
	height: 120px;
	width: calc(100% - 171px);
	position: absolute;
	top: 60px;
	left: 11px;
}

#observers {
	overflow-y: scroll;
	overflow-x: wrap; 
	overflow-wrap: break-word;
	height: 100%;
	width: 100%;
	border: 1px solid #428bca;
	border-radius: 3px;
	background: white;
	padding-left: 3px;
	padding-right: 3px;
}

#chatBox {
	overflow-y: scroll; 
	overflow-x:wrap; 
	overflow-wrap: break-word;
	border: 1px solid #428bca;
	border-radius: 3px;
	background: white;
	height: 100%;
	margin-bottom: 5px;
	width: 100%;
}

#chatTypeBox {
	padding: 10px 0px 10px 10px;
}

.chatContainer {
	height: calc(100% - 290px);
	position: absolute;
	left: 11px;
	bottom: 84px;
	width: calc(100% - 171px);
}

.timeDisplay {
	font-size: 12px;
}

#inputMessage {
	width:calc(100% - 74px);
	border-radius: 3px;
	border-color: #428bca;
	border-style: solid;
	margin-right: 10px;
}

#myBoard {
	width: 100%; 
	max-width: calc(100vh - 300px);
	border: 25px solid #6598ad;	
}
