@font-face {
  font-family: LOC Chess Pieceset;
  src: url(../chessboard-js-master/css/LOCPieces.woff);
}
@font-face {
  font-family: LOC Chess Pieceset;
  src: url(../chessboard-js-master/css/LOCPieces.ttf);
}

body {
	background-image: url(../images/chess-bg.gif);
}

button {
	border-radius: 5px;
	color: #428bca;
	background: white;
	border: 2px solid #428bca;
}

button:hover {
	background: #c6cbd1;
}

button:disabled {
	color: #82b1d9;
	border-color: #82b1d9;
}

hr {
	width: 100%;
	border-top: 1px solid #e7e7e7;
}

.chessPiece {
	font-size: 20px;
	font-weight: bold;
	vertical-align: 10%;
	font-family: "LOC Chess Pieceset",Fallback,sans-serif;
}

.chessBox {
	padding-left: 0px;
	padding-right: 0px;
}

#logoBox img {
	height: 40px;
	width: 150px;
}

#headerText {
	color: white;
}

.nameBox {
	padding-top: 10px;
	padding-bottom: 10px;
}

.white {
	color: #285e8e;
}

.white:after {
	content: '\2654';
}

.black {
	color: #bd4932;
}

.black:after {
	content: '\265A';
}

.headerTitle {
	color: white;
}

.whiteMessage {
	background-color: rgb(40, 94, 142, 0.15);
}

.blackMessage {
	background-color: rgb(189, 73, 50, 0.15);
}

.infoBox {
	background-color: white;
	border: 1px solid #428bca;
	border-radius: 3px;
}

#pgn {
	overflow-y: scroll;
	overflow-x:wrap; 
	height: 100px; 
}

#chatBox {
	overflow-y: scroll; 
	overflow-x:wrap; 
	height: 150px; 
	border: 1px solid #428bca;
	border-radius: 3px;
	background: white;
}

.timeDisplay {
	font-size: 12px;
}

#inputMessage {
	width:calc(100% - 54px)
}

#myBoard {
	width: 100%; 
	max-width: calc(100vh - 300px);
	border: 25px solid #6598ad;	
}
